{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row center-align">
        <h2 class="white-text">edit book review</h2>
    </div>

    <!--Start of 'add a review' section-->
    <div class="container">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('edit_review', book_id=book._id) }}">
                <div class="row card-panel">
                    <!--Book Title Field-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-book prefix black-text"></i>
                            <input id="book_title" name="book_title" type="text" class="validate" minlength="1"
                                maxlength="30" required>
                            <label for="book_title">book title</label>
                        </div>
                    </div>
                    <!--Author Field-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-edit prefix black-text"></i>
                            <input id="book_author" name="book_author" type="text" minlength="1" maxlength="30"
                                class="validate black-text" required>
                            <label for="book_author">author</label>
                        </div>
                    </div>
                    <!--Review Field-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pen prefix black-text"></i>
                            <textarea id="book_review" name="book_review" minlength="100" maxlength="10000"
                                class="validate materialize-textarea" required></textarea>
                            <label for="book_review">your review</label>
                        </div>
                    </div>
                    <!--Image Field-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix black-text"></i>
                            <input id="book_img" name="book_img" type="url" class="validate" required>
                            <label for="book_img">add url to book image</label>
                        </div>
                    </div>
                    <!--Affiliated Link Field-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix black-text"></i>
                            <input id="book_link" name="book_link" type="url" class="validate" required>
                            <label for="book_link">link to buy</label>
                        </div>
                    </div>
                    <!--Add/Cancel Review Buttons-->
                    <div class="row btn-row">
                        <div class="col s12 center-align">
                            <button type="submit" class="white-text btn-large center-align">edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}