@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    flex: 1 0 auto;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("../images/background-img.jpg") no-repeat center center fixed;
    background-color: black;
}

/*--------------------------------- NAV BAR --*/

nav ul a {
    color: black;
    font-style: bold;
}

nav ul a:hover {
    color: #ff0000;
    font-style: bold;
}

/*--------------------------------- FOOTER --*/

.media-list li {
    display: inline;
}

.social-media {
    color: #ff0000;
    font-size: 2rem;
}

.social-media:hover {
    color: white;
    font-size: 2rem;
}

.copyright {
    font-size: .75rem;
}

/*--------------------------------- BUTTONS --*/

.btn-large {
    background-color: #d50000 !important;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: lowercase;
    margin: 5px;
}

.btn-large:hover {
    font-family: 'Roboto Mono', sans-serif;
    background-color: black !important;
    text-transform: lowercase;
}

.btn-small {
    background-color: black !important;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: lowercase !important;
}

.btn-small:hover {
    background-color:#d50000 !important;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: lowercase !important;
}

#mybtn {
        display: none;
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none;
        background-color: transparent;
        color:red;
        cursor: pointer; 
        padding: 20px; 
        font-size: 50px;
}

/*--------------------------------- LINKS --*/

.log-link:hover {
    text-decoration: underline;
}

/*--------------------------------- FLASH MESSAGES --*/

.flash-row h4 {
    line-height: 1.5;  
}

/*--------------------------------- HEADERS --*/

.header-red {
    color: #d50000;
}
/*--------------------------------- FORMS --*/

.criteria-msg {
    font-size: .75rem;
    font-style: bold italic;  
}
.btn-row {
    margin-top: 2rem;
}

.form-item {
    height: 3rem;
    font-size: 22px;
    font-style: italic;
}

.form-icon {
    font-size: 33px;
}

/*--------------------------------- HOMEPAGE --*/

.hero-img {
    background: url("../images/hero-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box {
    background-color: white;
    color: black;
    margin-top: 25px;
    font-style: bold;
}

.intro-heading {
    font-size: 3rem;
}

.intro-text {
    margin: 30px 30px;
}

/*--------------------------------- PROFILE --*/

@media only screen and (max-width: 600px){
    .profile-title {
    font-size: 2.28rem;
}
}
.profile-header {
    padding-bottom: 10px;
}

.profile-item {
    height: 3rem;
    font-size: 22px;
}

.profile-icon {
    font-size: 35px;
    padding-top: 5px;
}

/*--------------------------------- BROWSE PAGE --*/

/*------------ CARDS --*/

.card-grid {
    display: flex;
}

.card-title {
    font-size: 1rem !important;
}

.card-title p {
    font-size: .5rem !important;
}

/*--------------------------------- REVIEW PAGE --*/

.review-row {
    padding: 55px 55px;
    background-color: white;
}

.review-item {
    font-style: oblique;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px){
    .review-row img {
    max-width: 100%;
}
.header-gen {
    font-size:1.5rem;
}
.review-item {
    font-style: oblique;
    font-size: 1rem;
}
}

.comment {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
}

.comment-header {
    display: flex;
    line-height: 1.5;
    padding: 1rem;
    background-color: black;
    border-bottom: 1px solid #ddd;
}

.comment-title {
    font-size: 20px;
    font-style: italic;
}

.comment-data {
    padding-top: 5px;
    font-size: 12px;
    font-style: italic;
}

.comment-body {
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#d50000;
    padding: 2rem;
}