@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    position: relative;
    background-color: white;
}

/*--------------------------------- NAV BAR --*/

nav ul a {
    color: black;
    font-style: bold;
}

nav ul a:hover {
    color: #ff3232;
    font-style: bold;
}

/*--------------------------------- FOOTER --*/

.media-list li{
    display: inline;
}
.social-media {
    color: #ff3232;
    font-size: 2rem;  
}

.social-media:hover {
    color: white;
    font-size: 2rem;  
}

.copyright{
    font-size: .75rem;
}

/*--------------------------------- HOMEPAGE --*/

.hero-img {
    background:url("../images/hero-img.jpg") no-repeat center fixed;
    min-height: 80vh;
    overflow: auto;
    position: relative;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    
}