<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% block style %}
    {% endblock %}
    <title>booknook</title>
</head>

<body onload="typeWriterEffect()">

    <header>
        <!--Navbar code taken from materialize and customized-->
        <nav class="nav-extended black-text white">
            <!-- Start of top navbar -->
            <div class="nav-wrapper">
                <a href="{{ url_for('homepage') }}" class="brand-logo black-text">booknook</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="black-text fas fa-book"></i></a>
                <!--Start of menu option on right-->
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('search') }}">search</a></li>
                    {% if session.user %}
                    <li><a href="#">add</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">profile</a></li>
                    <li><a href="{{ url_for('logout') }}">log out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">register</a></li>
                    <li><a href="{{ url_for('login') }}">log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Start of mobile sidenav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align white"><a class="black-text" href="{{ url_for('homepage') }}">booknook</a></h4>
            </li>
            <li><a href="{{ url_for('search') }}">search</a></li>
            {% if session.user %}
            <li><a href="#">add</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">profile</a></li>
            <li><a href="{{ url_for('logout') }}">log out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">register</a></li>
            <li><a href="{{ url_for('login') }}">log in</a></li>
            {% endif %}
        </ul>
    </header>

    <!--Start of section: holds flash messages-->
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flash-row container">
            <h4 class="center align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!--Start of main container: holds templates-->
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!--Start of footer, code taken from materialize and customized-->
    <footer>
        <footer class="page-footer footer-extended white-text black">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5><i class="red-text text-accent-4 fas fa-book"></i> booknook</h5>
                        <p>“Books are the plane, and the train, and the road. They are the destination, and the journey.
                            They are home.” – Anna Quindlen</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5>contact us</h5>
                        <p>admin@booknook.com</p>
                        <ul class="media-list">
                            <li><a href="https://www.instagram.com" target="_blank">
                                    <i class="fab fa-instagram-square social-media" aria-hidden="true"></i>
                                    <span class="sr-only">instagram</span></a>
                            </li>
                            <li><a href="https://www.facebook.com" class="media-list" target="_blank">
                                    <i class="fab fa-facebook-square social-media" aria-hidden="true"></i>
                                    <span class="sr-only">facebook</span></a>
                            </li>
                            <li><a href="https://www.pinterest.com" class="media-list" target="_blank">
                                    <i class="fab fa-pinterest-square social-media" aria-hidden="true"></i>
                                    <span class="sr-only">pinterest</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center copyright">
                    <p>Copywrite &copy; booknook<span id="copyright"></span> all rights reserved</p>
                </div>
            </div>
        </footer>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>

</html>