{% extends "base.html" %}
{% block content %}


  <!--Start hero of image-->
  <section id="home-page" class="hero-img">
    <div class="container">
      <div>
        <div class="row intro-box">
          <div class="col s12 l6 center-align">
            <h1 class="intro-heading">welcome to booknook</h1>
          </div>
          <div class="col s12 l6 center-align">
            <p class="intro-text">your little haven for book reviews and recommendations,
              find your next favourite book or share a current literary love, comment on reviews and engage with other readers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}