{% extends "base.html" %}
{% block content %}

<!--Start of user profile, components from materialise-->

<div class="row">
    <div class="col s12 offset-m2 m8">
        <div class="card-panel red accent-4">
            <h2 class="center-align">
                {{ user.username }}'s profile
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 offset-m2 m8">
        <div class="card-panel">
            <h4 class="center-align profile-header">your information</h4>
            <!--Name-->
            <div class="container">
            <div class="row center-align">
                <div class="col profile-item s6">
                    <span><i class="fas fa-user-circle profile-icon prefix black-text"></i></span>
                </div>
                <div class="col profile-item s6">
                    <p>{{ user.firstname }} {{ user.lastname }}</p>
                </div>
            </div>
            <!--Username-->
            <div class="row center-align">
                <div class="col profile-item s6">
                    <span><i class="fas fa-user-ninja profile-icon prefix black-text"></i></span>
                </div>
                <div class="col profile-item s6">
                    <p>{{ user.username }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}